.main_heading {
  background-color: rgba(255, 255, 255, 0.8);
  width: 90%;
  padding: 2rem;
  margin: 1rem auto;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main_heading h1 {
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 3rem;
  background: #121fcf;
  background: linear-gradient(to right, #121fcf 0%, #cf1512 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.search {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #532a88;
  border-radius: 5px;
  padding: 0rem 1rem;
}
.search input {
  outline: none;
  font-size: 1rem;
  color: #cf1512;
  font-weight: 700;
  letter-spacing: 1px;
  border: none;
  background: none;
}
.search svg {
  font-size: 2rem;
}
.add_todo {
  display: flex;
  justify-content: center;
  align-items: center;
}
.add_todo svg {
  font-size: 2rem;
  color: white;
  background-color: #cf1512;
  padding: 0.2rem;
  margin: 0.2rem;
  border-radius: 50%;
  cursor: pointer;
}

.add_todo input {
  padding: 1rem;
  outline: none;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid white;
  color: white;
  width: 30%;
  font-size: 1.5rem;
}
.todo_list {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  margin: 2rem auto;
}
.todo_list li {
  background-color: white;
  color: black;
  padding: 1rem;
  width: 100%;
  font-size: 1.5rem;
  list-style: none;
  border-radius: 50px;
}
@media screen and (max-width: 1050px) {
  .main_heading {
    flex-direction: column;
  }
  .main_heading h1 {
    font-size: 1.5rem;
  }
  .todo_list {
    width: 90%;
  }
  .todo_list li {
    font-size: 0.8rem;
    padding: 0.5rem;
  }
  .add_todo input {
    width: 50%;
    font-size: 1rem;
    padding: 0.5rem;
  }
  .add_todo svg {
    font-size: 1.5rem;
    color: white;
    background-color: #cf1512;
    padding: 0.2rem;
    margin: 0.2rem;
    border-radius: 50%;
  }
}
